<div class="col-xs-5">
  <ol>
    <li>
      Install <a href="https://nodejs.org/en/">NodeJs</a> to your machine.
      Up-to-date latest/current version, not LTS.
    </li>
    <li>
      In the Terminal, run
      <br>
      >[sudo] npm install -g npm
      <br>
      Sudo is required for Mac/Linux.
    </li>
    <li>
      Install <a href="https://cli.angular.io/">Angular CLI</a> by running
      <br>
      > [sudo] npm install -g @angular/cli
    </li>

    <div class='tips'>
      <br>
      <em>Just FYI: What is and Why use Angular Command Line Interface?</em>

      <br>
      Angular CLI is a powerful tool set for creating, managing and building Angular Application.
      <br>
      It also comes with simple command lines to build the project for production and so on.
      <br>
      <br>
      The reason to use CLI and not just import the angular framework into an
      existing index.html page is because Angular is a futuristic framework which
      uses features like typescript (a superset of javascript) which needs to be
      compiled before it runs in the browser. We have to take into account some of
      the extra steps that happens in the background during development and
      doing this manually can be a pain.

      In conclusion, Angular CLI is a great tool for big and very big projects! It allow developers to focus
      on Angular Code instead of workflow tasks!

    </div>

    <div class='tips'>
      <br>
      <em>Just FYI: Reinstall to update CLI</em>

      <br>
      > [sudo] npm uninstall -g angular-cli @angular/cli
      <br>
      > npm cache clean
      <br>
      > [sudo] npm install -g @angular/cli
    </div>

    <li>
      Create new Angular Project by typing in "ng new project-name"
      <br>
      > ng new my-app
      <br>
      Similarity with rails news.
    </li>

    <li>
      Get into the project folder (cd dir-name) and Launch the application by running
      <br>
      >ng serve
      <br>
      and open http://localhost:4200/ on your browser. This is similar to rails server (rails) and  http://localhost:3000/
    </li>


    <li>Since we are setting up, lets install <a href="">bootstrap</a></li>
  </ol>
</div>
