<div class="col-xs-5">
  This is how the folder directory looks like when you view it in your favorite editor (Atom or Sublime). <em>ahref links</em>
  <br>
  <em>image of folder directory</em>
  <br>
  <li>app/e2e - end to end testing, not something we will dive into right now.</li>
  <li>loose files not in a folder, are for configuring the project - the default one should be fine.</li>
  <li>app/src folder is where you create your project. The few folders and files to focus on:</li>
  <li>app/src/app folder- omponents related resources.</li>
  <li>app/src/assets folder- static assets and images.</li>
  <li>app/src/environments folder- env variables.</li>
  <li>app/src/index.html - single page where our app is going to serve</li>
  <li>app/src/main.ts</li>

  <br>
  <p>
    index.html is your single page application. it contains a tag called app-root with a default text
    such as "Loading...". You do not see this default text but see something else in the H1 tag.
    <br>
    Why? if inspect the browser, you will notice that the default text exists but there is a script below
    it that would shove our app contents into this location.
    <br>
    <br>
    <em>include images!!!</em>
    <br>
    <em>explain how this is similar with using Jquery to target a html tag to change the innerHTMLtext</em>
  </p>
</div>
