<div class="container">
  <div class="title-heading">
    <h1 class="text-center">Angular 5</h1>

    <p class="text-center">Here, I will attempt to teach you the basics of Angular. Buckle up!</p>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Part 1: Installing Angular</h3>
      <!-- Ignore this part as lesson starts in Part 3 -->
      <app-installation></app-installation>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Part 2: Understanding Angular Directory and Single Page Application</h3>
      <!-- Ignore this part as lesson starts in Part 3 -->
      <app-directories></app-directories>
    </div>
    <div class="col-xs-12">
        <h4><strong>a taste of angular forms</strong></h4>
        a running server looks out for changes in the file and updates the changes automaticlly. make sure to address
        Form module import.
        <br>
        <em>add images of app.module.ts</em>
        <br>
        <input type="text" [(ngModel)]='name'>
        <p>{{name}}</p>

        <em> Dynamic Changes updates the DOM with every keystroke. Angular allows us to create very reactive applications.</em>
    </div>
  </div>
</div>
